*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100%;
    background-color: #F08080;
}

header #logo{
    width: 20vw;
}

header #logo img{
    width: 10vw;
    margin-left: 2vh;
}

header #menu{
    width: 20vw;
    margin-top: 1vh;
    margin-left: 49vh;
}

header #menu img{
    width: 7vw;   
}

header #titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1vh;
    text-align: center;
}

nav{
    position: absolute;
    width: 100vw;
    background-color: #808080;
    margin-top: 14vh;
}

nav ul li{
    list-style: none;
    padding: 3vh 0 1vh 1vh;
    border-top: 1px solid #000;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
}

main{
    min-height: 50vh;
    margin-top: 2vh;
    margin-left: 3vh;
    margin-left: 3vh; 
}

p{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 3vh;
}

#biblia1 div{
    width: 800px;
    align-items: center;
    
}

#biblia1 img{
    width: 20%;
}

#Inspirações div{
    margin-left: 45px;
    width:75vw;
    height: 38vh;
    align-items: center;
}
h1{
    color:#000;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
#Inspirações img{
    width:30%;
}

#biblia{
    display: none;
}

#biblia{
    display: block;
    margin-left: 45px;
    width:20vw;
    height: 47vh;
    align-items: center;
}

#imagem img{
    width:100%;
}

#imagem{
    display: none;
}

#imagem{
    display: block;
    margin-left: 45px;
    width:20vw;
    height: 47vh;
    align-items: center;
}

footer{
    background-color: #F08080;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}